<header>
  <div>
    <h2>gestionnaire de contact</h2>
    <p-button (onClick)="openModal()" label="Ajouter un contact" severity="contrast" />
  </div>
</header>
<main>
  <p-table [value]="contactList" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Numéro de téléphone</th>
        <th>Adresse e-mail</th>
        <th>Photos</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr>
        <td>{{ product.lastName }}</td>
        <td>{{ product.firstName }}</td>
        <td>{{ product.phone }}</td>
        <td>{{ product.email }}</td>
        <td><img class="profile" [src]="product.profilePhoto" alt="" srcset=""></td>
        <td>
          <i pTooltip="Modifier cette tâche" tooltipPosition="left" class="pi pi-pencil"
            style="font-size: 1.5rem; margin-right: 3rem;"></i>
          <i pTooltip="Supprimer cette tâche" tooltipPosition="left" class="pi pi-trash" style="font-size: 1.5rem"></i>
        </td>
      </tr>
    </ng-template>
  </p-table>
</main>
<footer>
  <small>Yacou Keita © Tous droits réservés.</small>
</footer>

<p-dialog [modal]="true" [(visible)]="isModaleVisible" [style]="{ width: '40rem' }">
  <div class="dialog-box">
    <h2 class="text-base">Ajouter un contact</h2>
    <form [formGroup]="addContactForm" class="flex flex-row items-center gap-5">
      <div>
        <input type="text" placeholder="Saisissez votre nom" formControlName="lastName" />
        <!-- <small>ssssss</small> -->
      </div>
      <div>
        <input type="text" placeholder="Saisissez votre prénom" formControlName="firstName" />
        <!-- <small>ssssss</small> -->
      </div>
      <div>
        <input type="text" placeholder="Saisissez votre numéro de téléphone" formControlName="phone" />
      </div>
      <div>
        <input type="email" placeholder="Saisissez votre adresse e-mail" formControlName="email" />
      </div>
      <p-button (onClick)="runRegisterContact()" label="Enregistrer le contact" severity="contrast" />
    </form>
  </div>
</p-dialog>